 /* Colors
Test GBZ
 */
/* Fonts */
/* Root */
.navbar {
  border-bottom: 12px double #D69048;}
  
  body {
  font-family: "Noto Sans";
  font-size: 16px;
  color: #06121b;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-family: "Noto Sans";
  letter-spacing: 0.015em;
  line-height: 2rem;
  background-color: #fff; }
p {
  font-family: "Noto Sans";
  letter-spacing: 0.015em;
  line-height: 2rem;
  color: #1b2b34; }
  p.small {
    font-size: 0.938em;
    line-height: 1.375rem;
    letter-spacing: 0.025em;
    color: #5b5e5f; }

.internal-entry p {
  line-height: 1.563rem; }

h1, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif; }

#home_heading {
  font-size: 39px;     /* 2.425em ≈ 39px (assuming 16px base) */
  line-height: 60px;   /* your current 3.75rem ≈ 60px */}
@media screen and (max-width: 1200px) {
  #home_heading {
    font-size: 35px;
    line-height: 52px;}
}

@media screen and (max-width: 992px) {
  #home_heading {
    font-size: 32px;
    line-height: 48px;}
}

@media screen and (max-width: 768px) {
  #home_heading {
    font-size: 28px;
    line-height: 44px;}
}

@media screen and (max-width: 576px) {
  #home_heading {
    font-size: 24px;
    line-height: 38px;}
}
.mura-object-content{
  margin: 0;
  padding: 0;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  line-height: 3.750rem;
  font-size: 2.425em;
  color: #ef832f; }

h2 {
  font-size: 1.3875em;
  line-height: 1.3875rem;
  text-transform: uppercase;
  color: #ef832f;
  letter-spacing: 0.025em;
  font-family: "Noto Sans";
  font-weight: 600; }

h3 {
  font-family: "Noto Sans";
  text-transform: uppercase;
  color: #ef832f;
  letter-spacing: 0.105em;
  line-height: 2rem;
  font-size: 0.938em; }

.internal-entry h2 {
  font-size: 1.375em;
  line-height: 1.375rem; }

.btn {
  font-family: "Fjalla One";
  text-align: center;
  text-transform: uppercase;
  border-radius: 6px;
  font-size: 0.875em;
  cursor: pointer; }

.orange-btn {
  background: #ef832f;
  color: #fefefe; }
  .orange-btn:focus, .orange-btn:hover {
    background: #fcc04d;
    color: #fefefe; }

.internal-banner {
  padding: 15px 0;
  background: #f2f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e3a225 0%, #f18f01 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #e3a225 0%, #f18f01 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #e3a225 0%, #f18f01 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3a225', endColorstr='#f18f01',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .internal-banner h1 {
    text-transform: uppercase;
    margin-top: 0; }
  .internal-banner h1, .internal-banner p {
    color: #fefefe; }
  .internal-banner p {
    line-height: 1.55em; }

.social-media {
  padding: 0;
  display: inline-block;
  padding-left: 12px; }
  .social-media li {
    list-style: none;
    display: inline-block;
    border: 1px solid #fefefe;
    border-radius: 50%;
    padding: 0 5px;
    text-align: center;
    height: 32px;
    width: 32px;
    line-height: 32px; }
    .social-media li a {
      color: #fefefe; }
    .social-media li:focus, .social-media li:hover {
      border-color: #feecca; }
      .social-media li:focus a, .social-media li:hover a {
        color: #feecca; }

.responsive-table {
  width: 100%; }
  .responsive-table thead {
    background: #2d2f30; }
    .responsive-table thead th {
      padding: 15px 10px; }
    .responsive-table thead h4 {
      color: #fefefe;
      font-size: 1.125em;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      font-family: "Noto Sans";
      font-weight: 600;
      margin-bottom: 0; }
  .responsive-table tbody tr:nth-of-type(odd) {
    background: #fff; }
  .responsive-table tbody tr:nth-of-type(even) {
    background: #f2efef; }
  .responsive-table tbody tr td {
    padding: 15px 5px; }
  .responsive-table tbody td {
    font-weight: 600;
    font-size: 16px;
    color: #1b2b34; }

.full-width-img {
  width: 100%;
  height: auto; }

ul {
  padding: 0 0 0 20px; }

hr {
  width: 100%;
  max-width: 550px;
  margin-left: 0;
  margin-right: 0; }

.info-banner {
  background: #D69048;
  padding: 10px; }
  .info-banner span, .info-banner a.users {
    color: #fefefe;
    font-family: 'Fjalla One';
    font-size: 1.063em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: inline-block; }
  .info-banner span.gsc-input {
    max-width: 201px;
    width: 100%; }
  .info-banner p {
    display: inline-block; }
  .info-banner a.users {
    padding-left: 15px;
    padding-right: 15px; }
  .info-banner .search-bar {
    display: inline-block;
    width: 50%; }
    .info-banner .search-bar input {
      border: 0;
      box-shadow: none;
      min-height: 22px;
      padding: 5px; }
      .info-banner .search-bar input.search-button {
        border-radius: 4px;
        border: 0;
        background: #fefefe;
        text-transform: uppercase;
        color: #ef832f;
        font-family: "Fjalla One";
        font-size: 0.875em;
        letter-spacing: 0.075em;
        text-align: center;
        min-height: 32px;
        padding: 5px 12px; }

nav.navbar {
  width: 100%; }

#navbarNav {
  padding: 0; }
  #navbarNav .nav-list {
    justify-content: center; }
    #navbarNav .nav-list li {
      padding: 0 22px 0 11px; }
      #navbarNav .nav-list li ul li {
        padding: 0; }
      #navbarNav .nav-list li:first-of-type {
        padding-left: 0; }
      #navbarNav .nav-list li > a {
        color: #06121b;
        font-family: 'Fjalla One';
        text-transform: uppercase;
        font-size: 1.025em;
        letter-spacing: 0.05em;
        padding: 0; }
      #navbarNav .nav-list li:focus > a, #navbarNav .nav-list li:hover > a, #navbarNav .nav-list li.active > a {
        color: #ef832f;
        text-decoration: none; }

#navbarNav .dropdown-menu {
  padding: 15px 20px;
  margin-top: 0;
  border-radius: 0;
  border-top: 3px solid #2d2f30; }
  #navbarNav .dropdown-menu li {
    padding: 6px 0; }
    #navbarNav .dropdown-menu li.sub-nav-header {
      color: #ef832f;
      font-family: "Fjalla One";
      text-transform: uppercase; }
  #navbarNav .dropdown-menu li a {
    color: #D69048;
    font-weight: 600;
    font-family: "Noto Sans";
    font-size: .9em;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.18em; }

.nav-toggler-title {
  color: #06121b;
  text-transform: uppercase;
  font-family: "Fjalla One";
  margin-top: 5px;
  display: inline-block;
  padding-right: 4px; }

.dropdown-toggle .dropdown-menu {
  display: none;
  min-width: 20em; }
  .dropdown-toggle .dropdown-menu.dropdown-menu-lg {
    min-width: fit-content;
    width: 100%; }

.dropdown-toggle:hover .dropdown-menu {
  display: block; }

.navbar .nav-item {
  padding: 0 10px;
  position: relative; }
.navbar .dropdown-toggle::after {
  top: 50%;
  right: 8px;
  position: absolute;
  margin: 0; }

.wrap-for-mobile-menu {
  left: -100%;
  width: 100%; }
  .wrap-for-mobile-menu.show {
    position: absolute;
    background: white;
    height: auto;
    top: 0;
    left: 0;
    padding: 25px;
    width: 70%;
    z-index: 9999; }
    .wrap-for-mobile-menu.show ul.nav-list.nav {
      flex-direction: column; }

#navbarMobileNav {
  padding: 0; }
  #navbarMobileNav .nav-link {
    display: inline-block; }
  #navbarMobileNav .dropdown-menu {
    padding: 0;
    margin-top: 0;
    border-radius: 0;
    border-top: 3px solid #2d2f30;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }
    #navbarMobileNav .dropdown-menu li {
      padding: 10px 5px !important; }
      #navbarMobileNav .dropdown-menu li.sub-nav-header {
        color: #ef832f;
        font-family: "Fjalla One";
        text-transform: uppercase;
        font-size: 1.25em; }
    #navbarMobileNav .dropdown-menu li a {
      color: #fcc04d;
      font-weight: 600;
      font-family: "Noto Sans";
      font-size: 1.25em !important;
      text-transform: uppercase;
      display: inline-block;
      line-height: 1.18em; }
  #navbarMobileNav .nav-list li {
    padding: 15px 5px; }
    #navbarMobileNav .nav-list li > a {
      color: #06121b;
      font-family: 'Fjalla One';
      text-transform: uppercase;
      font-size: 1.5em;
      letter-spacing: 0.05em;
      padding: 0;
      text-align: left; }
    #navbarMobileNav .nav-list li:focus > a, #navbarMobileNav .nav-list li:hover > a, #navbarMobileNav .nav-list li.active > a {
      color: #ef832f;
      text-decoration: none; }
  #navbarMobileNav .dropdown-toggle .dropdown-menu {
    position: relative;
    width: 100%; }

#navbarNav .dropdown-menu.dropdown-left {
  left: auto;
  right: 0; }

.grey-call-out {
  background: #f0f3f5;
  border: 1px solid #dfdbdb;
  margin-top: 26px;
  padding: 10px 10px 20px;
  margin-bottom: 26px; }
  .grey-call-out .btn {
    width: 100%;
    max-width: 302px;
    padding: 8px 1px;
    letter-spacing: 0.1em; }
  .grey-call-out p {
    font-size: 1em;
    line-height: 2rem;
    letter-spacing: 0.02em;
    font-weight: 600;
    margin-bottom: 10px; }
    .grey-call-out p a {
      font-weight: bold; }

.vip-program p {
  margin-top: 25px;
  font-size: 0.938em;
  color: #1b2b34;
  letter-spacing: 0.025em;
  line-height: 1.55rem; }

.img-link-wrapper .col-sm-4 {
  position: relative;
  border: 1px solid white; }
  .img-link-wrapper .col-sm-4 h3 {
    font-size: 0.90em;
    padding: 10px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fefefe;
    width: 100%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    text-align: center;
    line-height: 1.25rem; }
  .img-link-wrapper .col-sm-4:focus h3, .img-link-wrapper .col-sm-4:hover h3 {
    color: #ef832f; }
.img-link-wrapper a {
  display: block; }

.footer-cta {
  border: 1px solid white;
  padding: 10px;
  text-transform: uppercase; }
  .footer-cta a {
    font-weight: 600; }
    .footer-cta a:focus, .footer-cta a:hover {
      color: #feecca; }

footer {
  background: #D69048;
  padding: 30px 0; }
  footer a:focus, footer a:hover {
    color: #feecca; }
  footer * {
    color: white; }
  footer ul {
    padding: 0; }
    footer ul li {
      list-style: none;
      padding: 5px 0; }
      footer ul li a {
        font-weight: 600; }

.above-footer {
  padding: 40px 0;
  background: #2d2f30; }
  .above-footer * {
    color: #fefefe; }
  .above-footer p a {
    font-weight: 600; }

/* Home */
.current-messages {
  color: #1b2b34; }
  .current-messages li {
    padding: 5px 0;
    line-height: 1.375em;
    font-weight: 400; }
    .current-messages li a {
      color: #1b2b34; }
      .current-messages li a:focus, .current-messages li a:hover {
        color: #ef832f;
        text-decoration: none; }

.entry-wrapper {
  padding: 60px 0; }

.entry p {
  font-size: 1.125em; }
  .entry p b {
    font-size: 1.250em;
    line-height: 1.875rem;
    display: block;
    margin-top: 26px; }

.internal-entry {
  padding: 10px 0 40px; }
  .internal-entry h2 {
    text-transform: uppercase;
    color: orange; }
  .internal-entry p a {
    color: orange;
    font-weight: 600; }
  .internal-entry ul {
    padding: 0 0 0 20px;
    font-weight: 600; }
  .internal-entry hr {
    margin: 1.125rem 0; }

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0; }
  .breadcrumb li {
    text-transform: uppercase;
    font-style: italic; }
  .breadcrumb .breadcrumb-item a {
    color: #1b2b34;
    font-size: .938em;
    text-transform: initial; }
    .breadcrumb .breadcrumb-item a:focus, .breadcrumb .breadcrumb-item a:hover {
      color: #06121b; }

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: .2rem; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: .2rem; }

.breadcrumb .title {
  color: #1b2b34;
  font-weight: 600;
  font-size: .938em;
  letter-spacing: 0.01em; }

.breadcrumb-item.title + .breadcrumb-item::before {
  content: none; }

.internal-template section.nav {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12);
  position: relative; }

.align-right {
  float: right; }

.absolute-fix {
  position: relative;
  float: left; }

/* Breakpoints */
@media screen and (min-width: 1200px) and (max-width: 1490px) {

  #navbarNav .nav-list li {
    padding: 0 22px 0 12px; }

  #navbarNav .nav-list li > a {
    font-size: 1em; }

  #navbarNav .nav-list li:first-of-type {
    padding-right: 6px; } }

@media screen and (max-width: 1200px) {

  #navbarNav .nav-list li > a {
    font-size: .9em; }

  #navbarNav .nav-list li:first-of-type {
    padding-right: 6px; } }
@media screen and (max-width: 1200px) and (max-width: 1100px) {

  #navbarNav .nav-list li > a {
    font-size: 14px; }

  #navbarNav .nav-list li {
    padding: 0 20px 0 13px; } }
@media screen and (max-width: 1024px) and (max-width: 992px) {

  nav.navbar {
    justify-content: initial;
    position: relative; }
    nav.navbar .col-lg-2.col-md-3.col-sm-12 {
      flex: 0 0 20%;
      max-width: 20%; }

  .navbar-toggler {
    position: absolute;
    right: 0; }

  #navbarNav {
    display: none; }

  section.nav .navbar #navbarNav .dropdown-menu {
    border: none;
    padding: 0;
    border-top: 1px solid #eee;
    margin-bottom: 10px;
    position: relative; }
    section.nav .navbar #navbarNav .dropdown-menu .col-4 {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
      display: block; }
    section.nav .navbar #navbarNav .dropdown-menu .sub-nav-header {
      display: none; }
    section.nav .navbar #navbarNav .dropdown-menu li a {
      color: #c9c9c9; }

  .wrap-for-mobile-menu.show {
    width: 50%;
    box-shadow: 10px 0 22px 1px rgba(0, 0, 0, 0.2); }
    .wrap-for-mobile-menu.show .col-lg-10.col-md-9.col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%; }
    .wrap-for-mobile-menu.show .nav-list {
      display: block;
      padding: 0; }

  .dropdown-toggle .dropdown-menu.dropdown-menu-lg {
    min-width: initial; }
    .dropdown-toggle .dropdown-menu.dropdown-menu-lg .col-sm-4 {
      max-width: 100%;
      flex: 100%; } }
@media screen and (max-width: 769px) {
  
  nav.navbar {
    justify-content: initial;
    position: relative; }
    nav.navbar .col-lg-2.col-md-3.col-sm-12 {
      flex: 0 0 20%;
      max-width: 20%; }

  .navbar-toggler {
    position: absolute;
    right: 0; }

  section.nav .navbar .wrap-for-mobile-menu.show {
    flex: initial;
    height: auto;
    top: -64%;
    z-index: 999;
    width: 50%;
    left: 0;
    position: absolute;
    background: white;
    padding: 50px 25px;
    box-shadow: 10px 0 22px 1px rgba(0, 0, 0, 0.2); }
    section.nav .navbar .wrap-for-mobile-menu.show .col-lg-10.col-md-9.col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%; }
    section.nav .navbar .wrap-for-mobile-menu.show .nav-list {
      display: block;
      padding: 0; }
    section.nav .navbar .wrap-for-mobile-menu.show #navbarNav .dropdown-menu {
      border: none;
      padding: 0;
      border-top: 1px solid #eee;
      margin-bottom: 10px;
      position: relative; }
      section.nav .navbar .wrap-for-mobile-menu.show #navbarNav .dropdown-menu .col-4 {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        display: block; }
      section.nav .navbar .wrap-for-mobile-menu.show #navbarNav .dropdown-menu .sub-nav-header {
        display: none; }
      section.nav .navbar .wrap-for-mobile-menu.show #navbarNav .dropdown-menu li a {
        color: #c9c9c9; }

  #navbarNav .nav-list li:first-of-type {
    padding-left: 20px; }

  .dropdown-toggle .dropdown-menu.dropdown-menu-lg, .dropdown-toggle .dropdown-menu {
    min-width: initial; }

  .navbar .align-right {
    float: none; } }
@media screen and (max-width: 767px) {

  .info-banner {
    display: none; }

  .nav {
    background: #1b2b34; }

  ul.nav-list.nav {
    background: transparent; }

  .navbar-toggler {
    position: absolute;
    top: 50%;
    right: 10%;
    color: white;
    z-index: 99999;
    transform: translate(0, -50%); }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241,143,1, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

  .navbar-toggler {
    border-color: #ef832f;
    background: white; }

  #navbarNav {
    width: 100%;
    max-width: 100%;
    position: relative; }
    #navbarNav .nav.navbar-nav {
      background: #fefefe;
      padding: 20px;
      height: 100vh;
      z-index: 99999;
      position: relative;
      box-shadow: 10px 0 22px 1px rgba(0, 0, 0, 0.16); }

  section.nav .navbar-nav li {
    padding: 0; }

  section.nav .navbar .wrap-for-mobile-menu.show {
    top: 0;
    width: 70%; }

  .entry-wrapper {
    padding: 20px 0; }

  h1 {
    font-size: 2.225em; }

  footer * {
    text-align: center; }
  footer img {
    margin-bottom: 22px; }
  footer p {
    margin-top: 22px;
    line-height: 1.125em; }

  .above-footer p {
    line-height: 1.45em; }

  nav.navbar .col-lg-2.col-md-3.col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 8px; }

  .wrap-for-mobile-menu.show {
    z-index: 999999;
    width: 70%; }

  #navbarMobileNav .nav-list li > a {
    text-align: left; } }

  @media screen and (max-width: 769px) {
    .order-first {
      display:none !important;
    }
  }

  @media (min-width: 992px) {
    .col-sm-4 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        flex-grow: 1;
        max-width: 100%;
        min-width:250px;
    }
    .row {
  flex-wrap: nowrap !important;
  }
  }
    @media (min-width: 769px) {
       .col-sm-4 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        flex-grow: 1;
        max-width: 100%;
        min-width:250px;
    }
 .row {
  flex-wrap: wrap !important;
  }
  }

/* If your nav bar collapses on smaller screens, you can adjust more aggressively */
@media (max-width: 769px) {
  .nav-item.dropdown-toggle {
    white-space: nowrap;        /* keep text on one line */
    font-size: clamp(10px, 13px, 16px); /* shrink gracefully */
    overflow: hidden;
    text-overflow: ellipsis;    /* optional: add "..." if truncated */
}
}

/*# sourceMappingURL=main.css.map */
